@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color:#673AB7;
  --secondary-color:#2196F3;
  --primary-bg: #EDE7F6;
  --secondary-bg: #E3F2FD;
  --grey-bg: #FAFAFA;
  --black: #212121;
  --grey: #757575;
  --light-grey: #9E9E9E;
  --dark-grey: #4D4D4D;
  
}

html{
  font-size: 14px;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

img{
  width: 100%;
}


.main{
  margin-top:70px;
  margin-left: 276px;
  width: calc(100vw - 292px);
  height: calc(100vh - 86px);
  border-radius: 12px;
  padding: 16px;
  background-color:var(--secondary-bg)
}

.page{
  background-color:#fff;
  border-radius: 12px;
  padding:16px;
  height: 100%;
}
